<div id="ds-menu" class="ds-menu">
    <div class="ds-navbar">

        <div id="ds-navbar-brand" class="ds-navbar-brand">
            <div class="ds-navbar-logo-container">
                <img id="ds-navbar-logo" class="ds-navbar-logo" src="/assets/icons/app-icon.svg">
            </div>

            <div class="ds-brand-text-container">
                <span class="ds-brand-text">StellarHub</span>
            </div>
        </div>

        <div class="ds-search-bar-container">
            <span>
                <i class="bi bi-search"></i>
            </span>
            <input id="ds-search-bar" class="ds-search-bar">
        </div>

        <div class="ds-buttons-container">

            <button class="btn btn-primary" id="ds-button-view" popovertarget="menu-view">
                <i class="bi bi-columns-gap"></i>
            </button>


            <button class="btn btn-primary" id="ds-button-filter" popovertarget="menu-filter">
                <i class="bi bi-funnel"></i>
            </button>
            <button class="btn btn-primary" id="ds-button-group">
                <i class="bi bi-collection"></i>
            </button>
        </div>

        <div class="dropdown-menu" id="menu-filter" popover="auto">

            <span class="">Source</span>
            <hr>
            <div>
                <div class="checkbox">
                    <label>Manual</label>
                    <input type="checkbox" value="gs-manual" checked />
                </div>
                <div class="checkbox">
                    <label>Steam</label>
                    <input type="checkbox" value="gs-steam" checked />
                </div>
                <div class="checkbox">
                    <label>Rom</label>
                    <input type="checkbox" value="gs-rom" checked />
                </div>
            </div>

            <span class="">Installed</span>
            <hr>
            <div>
                <div class="checkbox">
                    <label>Installed</label>
                    <input type="checkbox" value="gs-installed" checked />
                </div>
                <div class="checkbox">
                    <label>Unistalled</label>
                    <input type="checkbox" value="gs-uninstalled" checked />
                </div>
            </div>

        </div>


        <div class="dropdown-menu" id="menu-view" popover="auto">
            <button class="btn btn-primary" id="ds-button-view-grid">Grid</button>
            <button class="btn btn-primary" id="ds-button-view-wide">Wide Grid</button>
            <button class="btn btn-primary" id="ds-button-view-list">List</button>
        </div>

        <task-toast></task-toast>

        <span class="spacer"></span>
        <button id="btn-maximize-app" class="btn btn-secondary">
            <i class="bi bi-fullscreen"></i>
        </button>
        <button id="btn-close-app" class="btn btn-secondary">
            Exit
            <i class="bi bi"></i>
        </button>
    </div>
    <div id="ds-lateral-menu" class="ds-lateral-menu">
        <button class="btn btn-primary" id="btn-add-game-modal">Add New Game</button>
        <button class="btn btn-primary" id="btn-add-category-modal">Game Categories</button>
        <button class="btn btn-primary" id="btn-scan-manager-modal"> ROMs Scan Manager</button>
        <button class="btn btn-primary" id="btn-toggle-fullscreen">Fullscreen</button>
        <button class="btn btn-primary" id="btn-app-settings-modal">App Settings</button>
    </div>
</div>