<div class="ds-menu">
    <div class="ds-navbar">
        <img id="ds-navbar-logo" class="ds-navbar-logo" src="/assets/app-icon.png">
        <input class="ds-search-bar">
    </div>
    <div id="ds-lateral-menu" class="ds-lateral-menu">
        <button class="btn btn-primary" id="btn-add-game-modal">Agregar juego manual</button>
        <button class="btn btn-primary" id="btn-add-category-modal">Ver Categorias</button>
        <button class="btn btn-primary" id="btn-manage-scans-modal"> Administrar escaneos de ROMs</button>
        <button class="btn btn-primary" id="btn-toggle-fullscreen">Pantalla Completa</button>
    </div>
</div>