<div class="game-card-inner">
    <img class="game-cover">    
    <div class="game-info">
        <h3 class="game-title">${game.title}</h3>
        <div class="game-buttons">
            <button class="btn btn-primary play-button">
                <i class="bi bi-play-fill"></i>
                <span>Play</span>
            </button>
            <button  class="btn btn-tertiary display-none install-button">
                <i class="bi bi-download"></i>
                <span> Install</span>
            </button>
            <!-- <button id="btn-gc-details" class="btn btn-secondary details-button">Detalles</button> -->
        </div>
    </div>
</div>