<h2>Categorias</h2>
<form id="categoies-form">

    <div id="categories-div">
        <template id="category-item-template">
            <li class="categories-list-item">
                <img class="category-icon" src="" alt="Icono de categoría">
                <span class="category-name"></span>
                <button type="button" class="remove-category-btn">Eliminar</button>
            </li>
        </template>
        <ul id="categories-list">
        </ul>
    </div>

    <h4>Nueva Categoria</h2>

        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" id="name" required>
        </div>

        <div class="form-group">
            <label>Icono:</label>
            <input type="file" id="iconFile" accept="image/png,image/jpeg,image/jpg,image/webp" required>
        </div>

        <div class="form-group">
            <div class="modal-buttons">
                <button type="button" id="close-modal">Cancelar</button>
                <button type="submit">Guardar</button>
            </div>
        </div>
</form>