<div class="main-container theme-desktop">

  <desktop-menu></desktop-menu>

  <desktop-content>
    <div id="ds-background" class="ds-background">
      <img src="" id="ds-background-img" class="ds-background-img">
    </div>
    <div class="ds-grid" id="ds-grid">
      <!-- <span class="spinner"></span> -->
    </div>
    <game-details-panel></game-details-panel>
  </desktop-content>

  <modal-add-category></modal-add-category>
  <modal-add-game></modal-add-game>
  <modal-edit-game></modal-edit-game>
  <modal-remove-game></modal-remove-game>
  <modal-scan-manager></modal-scan-manager>
  <modal-add-scan-config></modal-add-scan-config>
  <modal-app-settings></modal-app-settings>
</div>