.theme-desktop {
  --coloresnuevos: #ffffff;
}

.ds-header {
  width: 100%;
}

.ds-grid,
.ds-details-panel {
  flex: 1 1 calc(50% - var(--gap));

}

.ds-grid {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  overflow-y: auto;
  overflow-x: hidden;
}

.ds-details-panel {
  background-color: var(--surface);
  color: var(--text-color);
  height: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
}

desktop-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  gap: var(--gap);
  padding: var(--padding);
}

.desktop-background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  filter: blur(10px) opacity(0.1);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}