.theme-fullscreen {
  --bg-color: #000;
}

.fs-background {
  flex: 1;
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
}

.fs-image {
  object-fit: contain;
  width: 100%;
  aspect-ratio: 96/31;
}

.fs-logo {
  width: 25lvw;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 10lvh 5lvw;
}

.fs-grid {
  height: fit-content;
  display: flex;
  overflow-y: hidden;
  gap: var(--gap);
  padding: var(--padding);
}

.fs-grid .game-card {}