<dialog id="app-settings-modal">

  <div id="modal-loading" style="text-align:center; padding:2rem;">
    <div class="spinner"></div>
    <p>Loading settings...</p>
  </div>
  <div id="modal-form-container" class="modal-form-container" style="display:none;">
    <form id="settings-form">
      <div class="form-title">
        <h2>StellarHub Settings</h2>
      </div>
      <div class="form-content">
        <!-- //SGDB -->
        <div>
          <label class="checkbox-label">
            <input type="checkbox" id="steamgriddb-enabled"> Enable SteamGridDB
          </label>
          <div class="form-group" id="steamgriddb-api-group">
            <label>SteamGridDB API Key</label>
            <input type="text" id="steamgriddb-api-key" placeholder="Enter your API key">
            <div class="help-text">
              Get your API key from <a href="https://www.steamgriddb.com/profile/preferences/api"
                target="_blank">steamgriddb.com</a>
            </div>
          </div>
        </div>
        <!-- //DEFAULT WINE PREFIX -->
        <div>
          <div class="form-group">
            <label>Default Proton Prefix Folder</label>
            <div class="path-selector">
              <input type="text" id="wine-prefix">
              <button type="button" class="btn btn-secondary" id="btn-browse-prefix">
                <i class="bi bi-folder-fill"></i>
                Examine
              </button>
            </div>
          </div>
        </div>
        <!-- //Steam Integration -->

        <div>
          <div class="form-group">
            <label class="checkbox-label">
              <input type="checkbox" id="steam-enabled"> Enable Steam Integration
            </label>
            <label>Steam ApiKey</label>

            <input type="text" id="steam-api-key">

            <div class="help-text">
              Get your API key from <a href="https://steamcommunity.com/dev/apikey"
                target="_blank">steamcommunity.com</a>
            </div>
            <label>Steam ClientID</label>
            <input type="text" id="steam-client-id" readonly>

            <button class="btn btn-primary" id="btn-steam-login">
              <i class="bi bi-steam"></i>
              LogIn
            </button>

          </div>
        </div>

        <div class="form-group">
          <label class="checkbox-label">
            <input type="checkbox" id="launch-fullscreen"> Start in fullscreen
          </label>
        </div>
      </div>
      <div class="form-buttons">
        <button class="btn btn-secondary" type="button" id="close-settings-modal">Cancelar</button>
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </form>
  </div>

</dialog>