<dialog id="add-game-modal">
    <div id="modal-loading" style="text-align:center; padding:2rem;">
        <div class="spinner"></div>
    </div>
    <div id="modal-form-container" class="modal-form-container" style="display:none;">
        <form id="manual-game-form">
            <div class="form-title">
                <h2>Add New Game</h2>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" id="title" required>
                </div>

                <div class="form-group">
                    <label>Game Path:</label>
                    <div class="path-selector">
                        <input type="text" id="executablePath" readonly required>
                        <button type="button" class="btn btn-secondary" id="btn-browse-game">
                            <i class="bi bi-folder-fill"></i>
                            Examine
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label>Proton Prefix Folder:</label>
                    <div class="path-selector">
                        <input type="text" id="wine-prefix" placeholder="~/Games/prefixes/my-game" required>
                        <button type="button" class="btn btn-secondary" id="btn-browse-prefix">
                            <i class="bi bi-folder-fill"></i>
                            Examine</button>
                    </div>
                </div>


                <div class="form-group">
                    <label>Proton Version:</label>
                    <select id="protonVersion"></select>

                </div>
                <div class="form-group">
                    <label>Launch Arguments:</label>
                    <input type="text" id="launchArgs" placeholder="">
                </div>
                <div class="form-group">

                    <label>Game Arguments:</label>
                    <input type="text" id="gameArgs" placeholder="">
                </div>
                <div class="form-group">
                    <label>MangoHud:</label>
                    <select id="mangoHud">
                        <option value="false">No</option>
                        <option value="true">Sí</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>GameMode:</label>
                    <select id="gameMode">
                        <option value="false">No</option>
                        <option value="true">Sí</option>
                    </select>
                </div>
            </div>

            <div class="form-buttons">
                <button type="button" class="btn btn-secondary" id="close-modal">Cancel</button>
                <button type="submit" class="btn btn-primary">
                    <div class="btn-content">Save</div>
                    <div class="btn-spinner display-none">
                        <span class="spinner-sm"></span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</dialog>